.comment-rating {
    margin-right: 10px;
    color: white;
    padding: 4px;
    border-radius: 10px;
}
.comment-rating.loading {
    color: grey;
}


.comment-rating.legit {
    background-color: #68cb68;
}


ul.comment-unknown {
    background-color: #fbffb6;
}

.comment-rating.unknown {
    background-color: yellow;
    color: black;
}


ul.comment-scam {
    background-color: #ffc0c0;
}

.comment-rating.scam {
    background-color: red;
}